	.ipt-cb-elem , .ipt-radio-elem , .ipt-text-elem , .ipt-textarea-elem{
		position : relative;
		margin : 0px 2px ;
		display : inline-block;
		font:12px tahoma,arial,verdana,sans-serif
		zoom : 1 ; /*fix IE layout bug*/
		*display : inline;
	}
	
	.ipt-cb , .ipt-radio {
		border: 0px none;
		background: none;
		outline : 0;
		cursor: pointer;
		margin : 0px;
		padding: 0px;
		width : 13px;
		height: 13px;
		vertical-align: middle;
		background:blue;
	}
	.ipt-cb { background : url("images/form/checkbox.gif") no-repeat;	}
	.ipt-radio { background : url("images/form/radio.gif") no-repeat;	}	
	
	.ipt-cb-labelfield , .ipt-radio-labelfield{
		margin-left:4px;
	}
	
	.ipt-cb::-moz-focus-inner ,
	.ipt-radio::-moz-focus-inner{border-color:transparent !important;} /*fix inner border */
	
	/** checkbox state**/
	.ipt-cb-elem .ipt-cb ,.ipt-radio-elem .ipt-radio{
		background-position : -13px 0px;
	}
	
	.ipt-cb-elem .ipt-cb-hover ,
	.ipt-radio-elem .ipt-radio-hover {
		background-position : -26px 0px;
	}
	
	.ipt-cb-elem .ipt-cb-pressed,
	.ipt-radio-elem .ipt-radio-pressed	{
		background-position : 0px 0px;
	}
		
	.ipt-cb-checked .ipt-cb,
	.ipt-radio-checked .ipt-radio{
		background-position : -13px -13px;		
	}
	
	.ipt-cb-checked .ipt-cb-hover,
	.ipt-radio-checked .ipt-radio-hover{ 
		background-position : -26px -13px;
	}
	
	.ipt-cb-checked .ipt-cb-pressed,
	.ipt-radio-checked .ipt-radio-pressed{
		background-position : -0px -13px;		
	}
	
	/*textfield*/
	.ipt-text {
		vertical-align : middle;
		width : 149px;
	}
	
	.ipt-textarea {
		vertical-align : top;
	}
	
	
	/*file*/
	.ipt-file-valuefield {
		height : 60px;
		position : absolute;
		opacity : 0;  /* standard CSS3 style for transparency */
		filter: alpha(opacity = 0); /* transparency for IE; note no decimal point */
		top : -4px;
		right : -2px;
	}
	
	.ipt-file-textfield {
		width : 200px;
		vertical-align: middle;
		font-size: 12px;
		height : 22px;
		line-height : 22px;
	}