	.fmes-layout-borderlayout{
		display: block-inline;
		width : 100%;
		height : 100%;
		position:relative;
	}
	
	.fmes-borderlayout-region{
		position : relative;
	}
	
	.fmes-borderlayout-north , .fmes-borderlayout-south , .fmes-borderlayout-west , .fmes-borderlayout-east , .fmes-borderlayout-center{
		background: black;
		color: white;
		position:absolute;
		overflow: hidden;
	}

	.fmes-borderlayout-splitBar {
		background:red;
		position: absolute;
		line-height:10px;
		font-size:0px;
	}

	.fmes-borderlayout-north-splitBar , .fmes-borderlayout-south-splitBar{
		cursor : n-resize; 
	}

	.fmes-borderlayout-west-splitBar , .fmes-borderlayout-east-splitBar{
		cursor : w-resize; 
	}
	
	.fmes-borderlayout-north {
		1height: 100px;
	}
	
	.fmes-borderlayout-south {
		1height: 40px;
	}
	
	.fmes-borderlayout-west {
		1width: 200px;
	}
	
	.fmes-borderlayout-east {
		1width: 200px;
	}
	
	.ipt-btn {
		position : relative;
		cursor : pointer;
		margin : 0px 2px ;
		vertical-align: middle; 
		display : inline-block;
		*display : inline;
		zoom : 1 ; /*fix IE layout bug*/
		overflow : hidden;

		background-image: -moz-linear-gradient(center top , #FFFFFF, #F9F9F9 48%, #E2E2E2 52%, #E7E7E7);
		border: 1px solid #7F9DB9;
		border-radius : 3px;
		background-color:#F8F8F6;
	}

	.ipt-btn button {
		border: 0px none;
		background: none;
		outline : 0;
		cursor: pointer;
		padding : 2px ;
		*padding: 1px ;
		margin : 0px;
		width : auto;
	}

	.ipt-btn button::-moz-focus-inner{border-color:transparent !important;} /*fix inner border */

	.ipt-btn .ipt-btn-text {
		font-size : 11px;
		font-family : tahoma,arial,verdana,sans-serif;
		text-align: center;
		white-space : no-wrap;
		display : block;
	}

	 .ipt-btn .ipt-btn-icon {
		background-repeat : no-repeat;
		background-position : right center;
		position: absolute;
		top : 0px;
		left : 0px;
		bottom : 0px;
		margin: 4px;
		padding : 0px;
		display: block;
	}

	/**state**/
	.ipt-btn-hover { 
		background: #B6CBE4;
	}
	
	.ipt-btn-pressed {
		background: #95C3F5;
	}
	.fmes-cb-elem , .fmes-radio-elem , .fmes-text-elem , .fmes-textarea-elem{
		position : relative;
		margin : 0px 2px ;
		display : inline-block;
		font:12px tahoma,arial,verdana,sans-serif
		zoom : 1 ; /*fix IE layout bug*/
		*display : inline;
	}
	
	.fmes-cb , .fmes-radio {
		border: 0px none;
		background: none;
		outline : 0;
		cursor: pointer;
		margin : 0px;
		padding: 0px;
		width : 13px;
		height: 13px;
		vertical-align: middle;
		background:blue;
	}
	.fmes-cb { background : url("images/form/checkbox.gif") no-repeat;	}
	.fmes-radio { background : url("images/form/radio.gif") no-repeat;	}	
	
	.fmes-cb-labelfield , .fmes-radio-labelfield{
		margin-left:4px;
	}
	
	.fmes-cb::-moz-focus-inner ,
	.fmes-radio::-moz-focus-inner{border-color:transparent !important;} /*fix inner border */
	
	/** checkbox state**/
	.fmes-cb-elem .fmes-cb ,.fmes-radio-elem .fmes-radio{
		background-position : -13px 0px;
	}
	
	.fmes-cb-elem .fmes-cb-hover ,
	.fmes-radio-elem .fmes-radio-hover {
		background-position : -26px 0px;
	}
	
	.fmes-cb-elem .fmes-cb-pressed,
	.fmes-radio-elem .fmes-radio-pressed	{
		background-position : 0px 0px;
	}
		
	.fmes-cb-checked .fmes-cb,
	.fmes-radio-checked .fmes-radio{
		background-position : -13px -13px;		
	}
	
	.fmes-cb-checked .fmes-cb-hover,
	.fmes-radio-checked .fmes-radio-hover{ 
		background-position : -26px -13px;
	}
	
	.fmes-cb-checked .fmes-cb-pressed,
	.fmes-radio-checked .fmes-radio-pressed{
		background-position : -0px -13px;		
	}
	
	/*textfield*/
	.fmes-text {
		vertical-align : middle;
		width : 149px;
	}
	
	.fmes-textarea {
		vertical-align : top;
	}
	
	.fmes-file {
		height : 60px;
		position : absolute;
		opacity : 0;  /* standard CSS3 style for transparency */
		filter: alpha(opacity = 0); /* transparency for IE; note no decimal point */
		top : -4px;
		right : -2px;
	}
	
	.fmes-file-textfield {
		width : 200px;
		height : 14px;
		line-height : 14px;
		vertical-align: middle;
		font-size: 11px;
	}
	
	.fmes-form-file-btn{
		
	}
	
	/*form panel*/
	.fmes-form-contentContainer{
		
	}
	.fmes-label {
		font-size : 12px;
		vertical-align: middle; 
		display : inline-block;
		zoom : 1 ; /*fix IE layout bug*/
		*display : inline;
	}
	.ipt-menu { 
		background : url("images/menu.gif") repeat-y #DDDDDD;
		border : 1px solid #ECE9D8;
		position: absolute;
		overflow: hidden;
	}
	.ipt-menuItem { 
		vertical-align: middle;
		cursor: pointer;
		display: block;      
		width : 100%;
		font-size:11px;
		padding: 0px;
		border: 0px;
	}
	
	.ipt-menuItem a {
		position:relative;
		border: 0px none;
		background: none;
		outline : 0;
		cursor: pointer;
		zoom : 1;
		padding-left: 4px;
		text-decoration : none;
		color: black;
		height: 2em;
		line-height: 2em;
		display: block;
	}

	.ipt-menuItem .ipt-menuItem-text {
		font-size : 12px;
		font-family : tahoma,arial,verdana,sans-serif;
		text-align: center;
		white-space : nowrap;
		width : auto;
		margin-left : 28px;
	}

	.ipt-menuItem .ipt-menuItem-icon {
		border:0px;
		background-repeat : no-repeat;
		background-position : right center;
		top : 0px;
		left : 0px;
		bottom : 0px;
		padding : 0px;
		margin: 4px;
		position: absolute;
		display : block;
		vertical-align: middle;
		width : 16px;
		height : 16px;
	}


	.ipt-menuItem-hover { 
		background: #B6CBE4;
		border: 0px solid #D1D1D1;
		1border-radius: 3px;
	}
	
	.ipt-menuItem-actived {
		background: #B6CBE4;		
	}
	
	.ipt-menuItem-pressed {
		background: #95C3F5;
	}
.ipt-paging {
	padding: 4px;   text-align: left ; font-size : 13px;
}

.ipt-paging td {
	vertical-align:middle;
	text-align:center;	
}
	
.ipt-paging a {
	text-decoration: none; 
	border:1px solid white;
	width : 24px;
	height : 24px;
	display : inline-block;
	background-position : 4px 4px ;
}

.ipt-paging select{
	width : 40px;	
}

.ipt-paging input{
	width : 40px;
}

.ipt-paging a:hover {
	border : 1px solid gray;	
}
	
.ipt-paging a.paging-first{
	background: url("images/paging_first.gif") no-repeat 4px 4px;
}
	
.ipt-paging a.paging-prev{
	background : url("images/paging_prev.gif") no-repeat 4px 4px;		
}
	
.ipt-paging a.paging-next{
	background : url("images/paging_next.gif") no-repeat 4px 4px;		
}
	
.ipt-paging a.paging-last{
	background : url("images/paging_last.gif") no-repeat 4px 4px;		
}
	.ipt-panel {
		font-size: 12px;
		font-weight : bold;
		border:1px solid #99BCE8;
		position:relative;
		display : inline-block;
		zoom : 1;
		*display : block;
		background: #F9F9F9;
		width : 100%;
		1border-radius : 5px 5px 5px 5px;
	}
	
	.ipt-panel-header{
		display:block;
		color : #04408C;
		border-bottom: 1px solid #99BCE8;
		line-height : 15px;
		position: relative;
		font-weight:bold;
		padding : 5px;
		background: #ABC7EC;
		background-image: -moz-linear-gradient(center top , #DAE7F6,  #ABC7EC );
		background-image: -webkit-gradient(linear, 50% 0%, 50%  100%, from(#DAE7F6), to(#ABC7EC));
		background-image: -webkit-linear-gradient( center top, #DAE7F6, #ABC7EC);
		background-image: -o-linear-gradient(top center , #DAE7F6, #ABC7EC);
		background-image: linear-gradient(top center , #DAE7F6, #ABC7EC);
		
	}
	
	.ipt-panel-body{
		background:white;
	}
	
	.ipt-panel-footer{
	
	}
	
	.ipt-panel-titleContainer{
		padding-left : 4px;
		line-height: 20px;
		background: #F2F2F2;
	}

	.ipt-panel-contentContainer{
		position: relative;
		overflow: hidden;
		padding : 5px;
		height : auto;
		width : auto;
	}

	.ipt-panel-toolbar-topwrap {
		1padding : 4px;
		background : #F2F2F2;
		border-bottom : 1px solid #E6E6E6;		
	}
	
	.ipt-panel-toolbar-bottomwrap{
		1padding : 4px;
		background : #F2F2F2;
		border-top: 1px solid #E6E6E6;
	}
	
	.ipt-panel-tool{
		height: 20px;
		line-height:20px;
		position: absolute;
		top : 0px;
		right : 2px;
	}
	
	.ipt-panel-tool div{
		width : 15px;
		height: 15px;
		margin : 4px 1px;
		display:inline-block;
		zoom : 1 ; /*fix IE layout bug*/
		*display : inline;
		cursor : pointer;
		background-image : url("images/tool-sprites.gif");
	}
	
	.ipt-panel-tool-collapse {
		background-position : 0px -210px;
	 }
	 
	 .ipt-panel-tool-expand {
	 	background-position : 0px -195px;
	 }
	 
	 .ipt-panel-tool-min{
		background-position : 0px -15px;
	 }
	 
	 .ipt-panel-tool-max{
		background-position : 0px -30px;
	 }
	 
	 .ipt-panel-tool-close{
		background-position : 0px 0px;
	 }
	 
	.ipt-panel-tool-collapse-over{
		background-position : 15px -210px;
	 }

	 .ipt-panel-tool-expand-over {
	 	background-position : 15px -195px;
	 }
	 
	 .ipt-panel-tool-min-over{
		background-position : 15px -15px;
	 }
	 
	 .ipt-panel-tool-max-over{
		background-position : 15px -30px;
	 }
	 
	 .ipt-panel-tool-close-over{
		background : 15px 0px;
	 }
	
	
	.ipt-tabs { 
		overflow: hidden;
		border : 1px solid #99BCE8;
	}
	
	.ipt-tabs-header {
		width : 100%;
		height : 32px;
		border-bottom : 1px solid #99BCE8;
		background:#CED9E7;
		position:relative;
	}

	.ipt-tabs-header ul {
			list-style : none;
			margin : 0px;
			padding : 0px;	
	}
		
	.ipt-tabs-header li {
			float:left;	
	}
			
	.ipt-tabs-header a{
		width : 100px;
		height : 29px;
		line-height :29px;
		text-align : center;
		border: 1px solid  #8db2e3;
		border-bottom : none;
		border-top-left-radius : 5px;
		border-top-right-radius : 5px;
		
		cursor : pointer;
		background : #e0ecff;
		font-weight : bold;
		font-size : 12px;
		color : black;
		margin : 2px;
		
		display : block;
		text-decoration : none;
		outline:none; 
	}
	
	.ipt-tabs-header a:hover{
		background: url("images/tabs_actived.png") repeat-x;
	}
	
	.ipt-tabs-header a:focus{
		background: url("images/tabs_actived.png") repeat-x;
	}
		
	.ipt-tabs-header a.ipt-tabs-actived{
		top : 1px;
		position : relative ; 
		height : 29px;
		background: url("images/tabs_actived.png") repeat-x;
	}
			
	.ipt-tabs-scroll-left , .ipt-tabs-scroll-right{
		cursor : pointer;
		width : 18px;
		height : 24px;
		position:absolute;
		display : none;
		z-index : 1;
	}
	
	.ipt-tabs-scroll-left {
		top : 0px;
		left : 0px;
		background: url("images/scroll-left.gif") -18px 0px no-repeat;
	}
	
	.ipt-tabs-scroll-right {
		top : 0px ;
		right : 0px ;
		background: url("images/scroll-right.gif") 0px 0px  no-repeat;
	}
	
	.ipt-tabs-scroll-hover {
		background-position: -18px 0px;	
	}
	
	.ipt-tabs-titles-outer {
		margin:0px 6px;
		1overflow : hidden;
		position: relative;
		height : 100%;
	}
	
	.ipt-tabs-titles-inner{
		margin : 0px; 
		padding : 0px;
		list-style-type : none;
		position: absolute;
		width : 5000px;
	}
	
	.ipt-tabs-body {
		height : 200px;
	}
	
	.ipt-tabs-contentContainer {
		height : 100%;	
	}
	
	.ipt-tabs-body .ipt-panel{
		border : none;
	}
	
	.ipt-tabs-actived-item {
		background : #F2F2F2;
	}
	
	.ipt-tabs-actived-item button{
		font-weight : bold;
	}
	
	
	.ipt-toolbar {
		padding : 4px;
	}
	
	.ipt-toolbar-align-left {
		text-align : left;
	}
	
	.ipt-toolbar-align-center {
		text-align : center;
	}
	
	.ipt-toolbar-align-right {
		text-align : right;
	}
	
	.ipt-window , .ipt-msgbox{
		font-size: 13px;
		border:1px solid #A2B1C5;
		position:relative;
		display : inline-block;
		zoom : 1;
		*display : block;
		background:  #CED9E7;
		width : 100%;
		border-radius : 5px 5px 5px 5px;
		box-shadow : 0 1px 0 0 #ECF2FB inset, 0 -1px 0 0 #ECF2FB inset, -1px 0 0 0 #ECF2FB inset, 1px 0 0 0 #ECF2FB inset;
		padding: 4px ;
	}
	
	.ipt-window-header , .ipt-msgbox-header{
		color : #04468C;
		display:block;
		height: 24px;
		line-height:24px;
		position: relative;
		font-weight:bold;
		cursor : move;
		-moz-user-select: none; 
		-webkit-user-select: none; 
		-khtml-user-select : none;
		-ms-user-select: none; 
	}
	
	.ipt-window-body{
		background: white;
		border : 1px solid #99BCE8;
	}
	
	.ipt-window-footer , .ipt-msgbox-footer{
	
	}
	
	.ipt-window-titleContainer ,  .ipt-msgbox-titleContainer{
		padding-left : 4px;
		line-height: 20px;
		background: #F2F2F2;
	}

	.ipt-window-contentContainer , .ipt-msgbox-contentContainer{
		position: relative;
		overflow: hidden;
		height : auto;
		width : auto;
		padding : 10px 10px 20px 10px;
	}

	.ipt-window-toolbar-topwrap , .ipt-msgbox-toolbar-topwrap{
		1padding : 4px;
		background:  #CED9E7;
		1border-bottom : 1px solid #E6E6E6;		
	}
	
	.ipt-window-toolbar-bottomwrap , .ipt-msgbox-toolbar-bottomwrap{
		1padding : 4px;
		background:  #CED9E7;
		1border-top: 1px solid #E6E6E6;
	}
	
	.ipt-window-tool , .ipt-msgbox-tool{
		height: 20px;
		line-height:20px;
		position: absolute;
		top : 0px;
		right : 2px;
	}
	
	.ipt-window-tool div , .ipt-msgbox-tool div{
		width : 15px;
		height: 15px;
		margin : 4px 1px;
		display:inline-block;
		zoom : 1 ; /*fix IE layout bug*/
		*display : inline;
		cursor : pointer;
		background-image : url("images/tool-sprites.gif");
	}
	
	.ipt-window-tool-collapse , .ipt-msgbox-tool-collapse{
		background-position : 0px -210px;
	 }
	 
	 .ipt-window-tool-expand , .ipt-msgbox-tool-expand {
	 	background-position : 0px -195px;
	 }
	 
	 .ipt-window-tool-min , .ipt-msgbox-tool-min{
		background-position : 0px -15px;
	 }
	 
	 .ipt-window-tool-max , .ipt-msgbox-tool-min{
		background-position : 0px -30px;
	 }
	 
	 .ipt-window-tool-close , .ipt-msgbox-tool-close{
		background-position : 0px 0px;
	 }
	 
	.ipt-window-tool-collapse-over , .ipt-msgbox-tool-collapse-over{
		background-position : 15px -210px;
	 }

	 .ipt-window-tool-expand-over , .ipt-msgbox-tool-expand-over {
	 	background-position : 15px -195px;
	 }
	 
	 .ipt-window-tool-min-over , .ipt-msgbox-tool-min-over{
		background-position : 15px -15px;
	 }
	 
	 .ipt-window-tool-max-over , .ipt-msgbox-tool-max-over{
		background-position : 15px -30px;
	 }
	 
	 .ipt-window-tool-close-over , .ipt-msgbox-tool-close-over{
		background : 15px 0px;
	 }
	
	