	.ipt-menuItem { 
		vertical-align: middle;
		cursor: pointer;
		display: block;      
		width : 100%;
		font-size:11px;
		padding: 0px;
		border: 0px;
		border-radius : 2px;
	}
	
	.ipt-menuItem a {
		position:relative;
		border: 0px none;
		background: none;
		outline : 0;
		cursor: pointer;
		zoom : 1;
		padding: 2px;
		text-decoration : none;
		color: black;
		height: 2em;
		line-height: 2em;
		display: block;
	}

	.ipt-menuItem .ipt-menuItem-text {
		font-size : 12px;
		font-family : tahoma,arial,verdana,sans-serif;
		text-align: center;
		white-space : nowrap;
		width : auto;
		margin-left : 28px;
	}

	.ipt-menuItem .ipt-menuItem-icon {
		border:0px;
		background-repeat : no-repeat;
		background-position : right center;
		top : 0px;
		left : 0px;
		bottom : 0px;
		padding : 0px;
		margin: 4px;
		position: absolute;
		display : block;
		vertical-align: middle;
		width : 16px;
		height : 16px;
	}


	.ipt-menuItem-hover { 
		border: 0px solid #D1D1D1;
		background: #ABC7EC;
		background-image: -moz-linear-gradient(center top , #DAE7F6,  #ABC7EC );
		background-image: -webkit-gradient(linear, 50% 0%, 50%  100%, from(#DAE7F6), to(#ABC7EC));
		background-image: -webkit-linear-gradient( center top, #DAE7F6, #ABC7EC);
		background-image: -o-linear-gradient(top center , #DAE7F6, #ABC7EC);
		background-image: linear-gradient(top center , #DAE7F6, #ABC7EC);
	}
	
	.ipt-menuItem-actived {
		background: #ABC7EC;
	    background-image: -moz-linear-gradient(center top , #DAE7F6,  #ABC7EC );
		background-image: -webkit-gradient(linear, 50% 0%, 50%  100%, from(#DAE7F6), to(#ABC7EC));
		background-image: -webkit-linear-gradient( center top, #DAE7F6, #ABC7EC);
		background-image: -o-linear-gradient(top center , #DAE7F6, #ABC7EC);
		background-image: linear-gradient(top center , #DAE7F6, #ABC7EC);
	}
	
	.ipt-menuItem-pressed {
		background: #95C3F5;
	}